<style>
    .step-links a{
           text-decoration: none;
           background-color: #8d8b8b;
           color: white;
           padding: 5px 13px;
       border-radius: 9px;
       margin: 5px;
    }   
    .pagination{
        margin-left: 572px;
    margin-top: 73px;
    }
    .step-links a:hover{
       background: #f66b5d;
    }
   </style>
   <div class="pagination">
       <span class="step-links">
           {% if products.has_previous %}
           <a href="?page={{	page.previous_page_number	}}">Previous</a>
           {% endif %}
           <span class="current">
               Page <b>{{ page.number }}</b> of <b>{{ page.paginator.num_pages }}</b>
           </span>
           {% if products.has_next %}
           <a href="?page={{	page.next_page_number	}}">Next</a>
           {% endif %}
       </span>
   </div>